.chartContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c2d;
  padding: 20px; 
  margin: auto;
  max-width: 1200px;
}

.chartContainer svg {
  overflow: visible;
}

.chartContainer .axis path,
.chartContainer .axis line {
  fill: none;
  stroke: #a9feff;
}

.chartContainer .axis text {
  fill: #a9feff;
  font-family: 'Orbitron', monospace;
}

