.dashboardContainer {
  width: 100%;
  padding: 20px;
  background-color: #222222;
}

.favoritePairs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1200px) {
  .favoritePairs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .favoritePairs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .favoritePairs {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 320px) {
  .dashboardContainer {
    padding: 10px;
  }
  .favoritePair,
  .pairContainer {
    padding: 8px;
  }
  .favoritePair {
    font-size: 1rem;
  }
  .pairLink {
    font-size: 0.7rem;
  }
  .dropdownToggle {
    padding: 3px;
    font-size: 0.6rem;
  }
  .replaceOptions {
    min-width: 80px;
    font-size: 0.6rem;
  }
}

.favoritePair {
  display: block;
  padding: 20px;
  border: 1px solid #d9298a;
  border-radius: 10px;
  background-color: #000000;
  color: #ffffff;
  font-size: 1.2rem;
  text-decoration: none;
}

.allPairs {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}

@media (max-width: 768px) {
  .allPairs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .allPairs {
    grid-template-columns: repeat(2, 1fr);
  }
}

.pairContainer {
  border-radius: 5px;
  padding: 10px;
  background-color: #2e2e3e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pairLink {
  color: #a9feff;
  font-size: 0.8rem;
  text-decoration: none;
  margin-right: 10px;
}

.dropdown {
  position: relative;
  display: flex;
  align-items: center;
}

.dropdownToggle {
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  font-size: 0.8rem;
}

.pairDropdown {
  background-color: #000000;
  color: #a9feff;
  border: 1px solid #d9298a;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: small;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
}

.masterProfile {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 500px;
}

.masterProfileHidden {
  transition: max-height 0.5s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.toggleProfileButton {
  background-color: #3b3b58;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 20px;
  cursor: pointer;
}
