.chartContainer {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000000;
   padding: 20px;
   border-bottom: 1px solid #d9298a;
   border-radius: 10px;
   margin: auto;
   max-width: 1200px;
}

.chartContainer svg {
   overflow: visible;
}

.chartContainer .axis path,
.chartContainer .axis line {
   fill: none;
   stroke: #fff9a9;
}

.chartContainer .axis text {
   fill: #f6ffa9;
   font-family: 'Orbitron', monospace;
}
