.tableContainer {
   background-color: #000;
   padding: 16px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   overflow-x: auto;
   border-radius: 8px;
}

.dataTable {
   width: 100%;
   border-collapse: collapse;
}

.tableHeader {
   background-color: #222;
}

.tableHeader th {
   padding: 8px;
   text-align: left;
   color: #ccc;
   font-weight: bold;
   font-size: 8px;
   text-transform: uppercase;
}

.tableBody {
   color: #fff;
}

.tableBody td {
   padding: 8px;
   border-top: 1px solid #444;
}
